aside{
    .box{
        border: 1px solid rgba(0, 0, 0, 0.11);
    }
}
td{
    vertical-align:inherit !important;
    transition: all 0.2s;
    &:hover{
        background: #00d1b2;
        color: white !important;
    }
}

.fit-size{
    width:fit-content
}

svg{
    width:100%;
}
*{
    margin: 0;
    padding: 0;
}

#stateDataDisplay{
    width:10vw !important;

}

section{
    overflow:hidden !important;
}

#searchingLoaderText{
    visibility:hidden;
    opacity:0;
    transition: all 0.5s ease;
    
    &.visible{
        visibility:visible;
        opacity:1;
    }
}

.searchedCountryTag:hover{
    color: black;
    background: white !important;
    cursor: pointer;
}