aside{
    .box{
        border: 1px solid rgba(0, 0, 0, 0.11);
    }
}
td{
    vertical-align:inherit !important;
    transition: all 0.2s;
    &:hover{
        background: #00d1b2;
        color: white !important;
    }
}

#landing{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    background-image: url(./illustrations/covidBG.jpg);
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    &::after{
        position: absolute;
        content: "";
        width:100%;
        height: 100%;

        top:0%;
        left:0%;

        backdrop-filter: blur(5px);

    }
}

.fit-size{
    width:fit-content
}

svg{
    width:100%;
}
*{
    margin: 0;
    padding: 0;
}

#stateDataDisplay{
    width:10vw !important;

}

section{
    overflow:hidden !important;
}

#searchingLoaderText{
    visibility:hidden;
    opacity:0;
    transition: all 0.5s ease;
    
    &.visible{
        visibility:visible;
        opacity:1;
    }
}

.searchedCountryTag:hover{
    color: black;
    background: white !important;
    cursor: pointer;
}